 body{
 background: #fff;
 font-family: arial,sans-serif;
 height:100%;
}
header{
  width: 100%;
  position: fixed;
  top: 0px;
  font-family: Arial;
  font-size: 14px;
}
.head-line a{
  text-decoration: none;
  color: #121212;
  float: right;
  margin-right: 20px;
}
.head-line2 a{
  text-decoration: none;
  color: #121212;
  float: left;
  margin-left: 20px;
}


#form-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:center;
}
#button-container{
  padding:16px;
}
#search-bar{
  height:34px;
  width:400px;
  border-radius: 30px;
  border: 1px solid #ccc;
}
.button-form{
  background-color:#f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  height:36px;
  font-size:16px;
  color: #5f6368;
}

#footer_1-container{
  Position:absolute;
  width:100%;
  bottom:45px;
  height:45px;
  display:flex;
  justify-content:left;
  background-color:#f8f8f8;
  border: .5px solid #ccc;
}
#footer_2-container{
  Position:absolute;
  width:100%;
  bottom:0px;
  height:45px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background-color:#f8f8f8;
  border: .5px solid #ccc;
}

.spanuk{
  color: #5f6368;
  padding:10px;
}


.header-links{
  text-decoration-line: none;
  color: black;
  padding:10px;

}
.footer-links{
  text-decoration-line: none;
  color: #5f6368;
  padding:10px;
}

a:hover{
 text-decoration-line: underline;
}
